body {
  background-color: black;
  color: green;
  font-family: 'VT323', monospace;
}
td, th {
  width: 400px;
  border: 2px solid blue;
}

form, input {
  display: inline;
  border: none;
  background-color: black;
  color: green;
}

input[type=submit] {
  border: 1px solid green;
}
